{% extends "base.html" %}
{% block content %}
<h1>About Us</h1>
<h2>Why Choose Our Cardless System?</h2>
<p>Our innovative cardless system is designed to provide you with a hassle-free healthcare experience. Here’s what you can expect:</p>
    <li>Convenience: Access your medical records and appointment details from any device.</li>
    <li>Security: Your data is protected with the highest security standards.</li>
    <li>Efficiency: Save time and reduce paperwork with our digital solutions."</li>
<h2>Key Features</h2>
<p>Manage Appointments: Easily schedule, reschedule, or cancel your appointments with just a few clicks.</p>
<p>Access Medical Records: View your complete medical history securely anytime you need it.</p>
<p> Contact Healthcare Providers: Quickly get in touch with your doctors and healthcare providers for any queries or concerns.</p>
{% endblock %}